*/.vs/
*/Properties
.vs/
*/bin/
*/obj/
CalculationVacationSystem.WebApi.sln
docfx_project/**/DROP/
docfx_project/**/TEMP/
docfx_project/**/packages/
docfx_project/**/bin/
docfx_project/**/obj/
docfx_project/_site
