<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/610bf447-33b8-4140-b8c5-ecd856cc872f/resourceGroups/CalculationVacationSystemWebApiResourceGroup/providers/Microsoft.Web/sites/CalculationVacationSystemWebApi</ResourceId>
    <ResourceGroup>CalculationVacationSystemWebApiResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/610bf447-33b8-4140-b8c5-ecd856cc872f/resourceGroups/CalculationVacationSystemWebApiResourceGroup/providers/Microsoft.ApiManagement/service/CalculationVacationSystemWebApi-apim/apis/cvsapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculationvacationsystemwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>82c52827-237b-483b-8af3-855f00dfd059</ProjectGuid>
    <MSDeployServiceURL>calculationvacationsystemwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CalculationVacationSystemWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$CalculationVacationSystemWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>